/* reset css*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

.bor{
    width: 300px; 
    height: auto;
    margin: auto;

}

.bor .i1{
    background-color:rgba(0, 0, 0, 0.601);
    width: 300px;
    color:aliceblue;
    position:absolute;
    top:177px

}
.bor img:first-child{
    position: relative;
}