/* reset css*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
.bor{
width: 300;
height: auto;
}
.first{
    background-color:crimson;
    color: aliceblue;
    width: 80px;
    border-radius: 8px;
    text-align: center;
    position:absolute;
    top:1%
    
}
.last{
    color:rgb(244, 240, 234);
    font-size: 15px;
    position:absolute;
    top: 260px}

.phongseting{
    color: gold;
        
}
.hop{
    background-color: red;
}
.hop ,.mauchu{
    border: 1px solid white;
    border-radius: 4px;
}
.mauphong{
    width: 1px;
    height: 21px;
    background-color: white;
    margin-left: 13px;
}
.phongsettingtheo{
    position: absolute;
   left: 0;
    top: 0;
    color:red;
    margin-top: 35px;
    margin-left: 270px;
}
.canwgiua{
    text-align: center;
    padding: 5px;}

